.dashboard {
  display: flex;
  padding: 1em;
  background-image: url(https://i.pinimg.com/originals/e5/8c/28/e58c28f5b50cf13b6d8a481b65fa30b8.jpg);
  background-position: center;
  background-repeat: none;
}
